<h2>Tarang photo gallery</h2>
<p class="lead">Tarang 2015</p>
<div class="row">
    <ul class="list-inline gallery">
        <div class="col-md-2 img-hover">
            <img src="images/c1.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/c2.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/c3.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/c4.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/c5.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/c6.jpg" class="img-responsive img-rounded zoom">
        </div>
    </ul>
</div>
<br>
<p class="lead">Sports</p>
<div class="row">
    <ul class="list-inline gallery">
        <div class="col-md-2 img-hover">
            <img src="images/s1.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/s2.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/s3.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/s4.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/s5.jpg" class="img-responsive img-rounded zoom">
        </div>
    </ul>
</div>
<br>
<p class="lead">Cultural</p>
<div class="row">
    <ul class="list-inline gallery">
        <div class="col-md-2 img-hover">
            <img src="images/cl1.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/cl2.jpg" class="img-responsive img-rounded zoom">
        </div>
        <div class="col-md-2 img-hover">
            <img src="images/cl3.jpg" class="img-responsive img-rounded zoom">
        </div>
    </ul>
</div>

