<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <img src="images/Tarang2015old.jpg" width="460" height="345">
        </div>

        <div class="item">
            <img src="images/c1.jpg" width="460" height="345">
        </div>

        <div class="item">
            <img src="images/c2.jpg" width="460" height="345">
        </div>

        <div class="item">
            <img src="images/c3.jpg" width="460" height="345">
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<h2 class="text-center text-primary"> Welcome to Sanskriti</h2>
<blockquote>
    <p class="text-justify text-info">
        SANSKRITI, the Indian Graduate Students Association at Northeastern University in Boston.
        The main mission of our organization is to foster understanding about India and her culture among the Northeastern community at large, to provide an avenue to bridge the social gap among the graduate students here at Northeastern and to provide a helping hand to new incoming students in getting oriented with the American way of life
        We are always open and on the look out for new ideas and suggestions, so feel free to contact any of our board members on how we can improve upon the organization's activities to better serve the members needs or drop us a suggestion.
        We have set out with some real interesting plans for the coming year...so stay with us, the fun has just begun!!

        <footer><b>From Office of Global Services</b></footer>
    </p>
</blockquote>

